@import "./reset";
@import "./mixins";
@import "./animations";

body {
    position: relative;
    background-image: url("../assets/images/image-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;

    width: 100%;
    height: 100vh;

    @media (max-width:905px) {

        grid-template-columns: 80% 20%;
    }

    @media (max-width:680px) {


        grid-template:
            "Header" 0px
            "main";

    }

}

.main {
    position: relative;
    @include flexCenter(row, 1px);
    width: 100%;
    height: 100vh;
}

.content-descriptions {
    @include flexCenter(row, 20px);
    padding: 20px;

    @media (max-width:970px) {
        gap: 20px;
        flex-wrap: wrap;
        padding: none;
    }

    @media (min-width:681px) and (max-width:840px) {
        height: 100vh;
        justify-content: space-around;

    }

    @media (max-width:430px){
      gap: 1px;

    }
}


.txt_descriptions {
    @include flexCenter(column, 60px);
    align-items: left;
    justify-content: start;


    @media (max-width:905px) {
        order: -1;

    }

    @media (max-width:970px) {
        gap: 30px;
    }

    p {
        color: #455a64ee;
        font-weight: 700;
        text-align: left;
        width: 100%;
    }

    #txt-primary {

        font-size: clamp(1.5vw, 16px, 20px);




        @media (max-width:970px) {
            font-size: clamp(2vw, 5vw, 20px);
            text-align: center;
        }

        @media (min-width:681px) and (max-width:840px) {

            font-size: 26px;

        }

    }


}


.main-txt {

    width: 100%;


    h1 {
        @include flexCenter(column, 8px);
        align-items: start;
        width: 100%;
        color: #4B2D73;

        font-size: clamp(4vw, 4vw, 3.2em);

        @media (max-width:970px) {
            flex-direction: row;
        }

        @media (min-width:681px) and (max-width:840px) {

            font-size: 36px;

        }

        @media (max-width:680px) {
            font-size: clamp(5vw, 5.8vw, 3.2em);
        }




    }

    h2 {
        color: #4b2d73e0;
        font-size: 2.15em;
        width: 100%;
        font-family: 'Edu NSW ACT Foundation', cursive;

        @media (max-width:970px) {
            color: #4b2d73;
            text-align: center;

        }


        @media (max-width:430px) {
            font-size: 1.5em;
            text-align: center;
            
        }
    

    }

    .light {
        @include flexCenter(row, 10px);

        .fa-lightbulb {
            font-size: clamp(24px, 4vw, 52px);
        }


    }

    .magic {
        @include flexCenter(row, 8px);

        .fa-wand-magic-sparkles {
            font-size: clamp(24px, 4vw, 45px);
        }
    }


    .animation-translate {
        animation: floatY 1s alternate infinite;
    }


    @media (max-width:970px) {
        color: #4b2d73;
        text-align: center;


    }

}



.steps {
    @include flexCenter(row, 15px);
    justify-content: left;

    width: 100%;

    @media (max-width:905px) {
        display: none;
    }
}

.steps-content {

    width: 100%;

    h3 {
        font-size: clamp(1vw, 1.3vw, 17px);

        color: #4B2D73;

    }

    p {
        padding-top: 3px;
        font-size: 16px;
        color: #8d8d8d;
        height: 35px;
        width: 100%;

        font-size: clamp(1vw, 1.2vw, 16px);
    }

    @media (max-width:970px) {

        p,
        h3 {
            text-align: center;
        }
    }
}

.drop-main {
    display: none;
    width: 100%;
    padding: 5px;


    @media (max-width:905px) {
        display: flex;
        flex-direction: row;
        height: 202px;
    }

    @media (max-width:430px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: auto;
        gap: 20px;

    }
}


.drop-img {
    width: 50%;
    height: auto;
    filter: drop-shadow(1px 0px 1px rgb(75, 45, 115));

    @media (max-width:430px) {
        width: 40%;
       
    }

    @media (max-width:430px) {
        width: 50%;
       
    }
}

@keyframes menuDrop {
    to {
        opacity: 1;
    }
}

.content-drop {
    @include flexCenter(column, 2px);
    justify-content: start;

    transition: 0.3s ease-in-out;
    width: 70%;

    @media (max-width:430px) {
        flex-direction: row;
        width: 100%;
        height: auto;
        gap: 12px;

    }
}

.title-dropMenu {
    @include flexCenter(row, 3px);
    color: #4b2d73ec;
    font-weight: 700;
    font-size: clamp(1vw, 2vw, 13px);
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    transition: 0.3s ease-in-out;

    .btnDrop {

        cursor: pointer;
        font-size: px;
        transition: 0.3s all;

        &.active {
            transform: rotate(180deg);
        }
    }


    @media (max-width:430px) {
        justify-content: start;
        font-size: clamp(1.50vw, 2.1vw, 18px);
    }

}

.txt-dropMenu {
    display: block;
    max-height: 0px;
    gap: 0;
    width: 90%;
    opacity: 0;
    transition: max-height 0.3s ease-in-out;

    p {
        @include flexCenter(row, 1px);
        opacity: 0;
        color: #37474F;
        font-size: clamp(1vw, 2vw, 12px);
        font-weight: 500;
        text-align: left;
        animation: menuDrop 0.5s forwards ease-in-out;

        @media (max-width:430px) {
            font-size: clamp(1.50vw, 3vw, 18px);
            text-align: center;
        }
    }

    &.active {
        opacity: 1;
        max-height: 100px;



    }


}

.md-btn {
    @include flexCenter(row, 3px);
    background-color: #37474F;
    width: 50px;
    height: 20px;
    border: 1px solid #4B2D73;
    border-radius: 5px;

    a {

        font-size: 10px;
        color: #FFFDFB;

    }
}

.img-sectionMain {
    @media (max-width:905px) {
        order: -1;
    }

    .img-main {
        width: 450px;
        height: auto;

        @media(max-width:1280px) {
            width: 321px;
        }

        @media (max-width:905px) {
            width: 270px;
        }

        @media (min-width:681px) and (max-width:840px) {
            width: 280px;

        }

        @media (max-width:680px) {
            width: 280px;

        }

        @media (max-width:528px) {
            width: 300px;

        }

        @media (max-width:430px) {
            width: 220px;
        }
    }


}

footer {
    position: absolute;
    bottom: 10px;

    h5 {
        color: #455A64;

        a {
            position: relative;
            color: #4b2d73;

            &::before {
                position: absolute;
                bottom: 0;
                content: '';
                height: 2px;
                width: 0%;

                background-color: #4B2D73;
                transition: 0.5s;
            }

            &:hover::before {
                width: 100%;

            }
        }
    }
}


.aside-content {
    display: grid;

    grid-template:
        "area1 header" 300px
        "area2 header"
        "area3 area3";

    height: 100%;


    @media (max-width:905px) {
        grid-template:
            "header" 300px
            "header"
            "header";

    }


    @media(max-width: 680px) {
        grid-area: Header;

    }
}

.tecs {
    grid-area: area1;
    position: relative;
    font-size: 25px;
    background-color: #7A4897;
    color: #FFFDFB;



    &:hover .hover-tecs {
        opacity: 1;
    }

    @media (max-width:905px) {
        display: none;

    }
}


.list-tecs {
    @include flexCenter(column, 10px);
    align-items: start;
    width: 100%;
    position: absolute;
    bottom: 1.2em;
    padding: 10px;


    li {
        font-size: 0.70em;


        h4 {
            @include flexCenter(row, 10px);

            i {
                font-size: 0.60em;
            }
        }
    }

}

.hover-tecs {
    @include flexCenter(row, 0px);
    position: absolute;
    left: 0;
    opacity: 0;

    background: #000000b7;

    height: 100%;
    width: 100%;

    transition: 0.6s;
}

.button-pageTecs {
    position: relative;
    @include flexCenter(row, 0px);
    border: none;
    border-radius: 10px;
    background-color: #37474F;

    width: 90%;
    height: 40px;
    z-index: 2;

    a {
        font-size: 16px;
        color: #FFFDFB;

        h3 {
            @include flexCenter(row, 10px);
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        z-index: 1;

        background-color: #4b2d73;
        border-radius: 10px;

        width: 0%;
        height: 100%;

        transition: 0.3s ease-in-out;
    }

    &:hover::before {
        border: 1px solid #FFFDFB;

        cursor: pointer;

        width: 100%;

        z-index: -1;

    }
}

.header {
    grid-area: header;
    @include flexCenter(column, 30px);
    justify-content: flex-start;

    background-color: #4B2D73;
    color: #FFFDFB;

    height: auto;



    @media (max-width:905px) {
        height: 100%;
        gap: 0px;
    }


    @media (max-width:680px) {
        position: absolute;
        right: 0px;
        top: 0;
        background-color: transparent;

        &.active {
            background-color: #4B2D73;
            width: 100%;

            .line1,
            .line2,
            .line3 {
                background-color: #FFFDFB;
            }
        }
    }
}

.menu {
    cursor: pointer;
    @include flexCenter(column, 5px);

    padding-top: 20px;
    height: 50px;

    @media (max-width:680px) {
        z-index: 1;
        position: absolute;
        right: 30px;
        padding-top: 0px;

    }
}

.line1,
.line2,
.line3 {
    width: 25px;
    height: 2px;
    background-color: #FFFDFB;
    transition: 0.4s all;

    @media (max-width:680px) {
        background-color: #4B2D73;
    }

}

.menu.active .line2 {
    display: none;
}

.menu.active .line1 {
    transform: rotate(53deg) translate(1px, -1px);
}

.menu.active .line3 {
    transform: rotate(-50deg) translate(6px, -3px);
}

.menu.active .menu-mobile {
    @include flexCenter(column, 30px);
}


#nav {
    @include flexCenter(column, 0px);
    justify-content: space-around;
}

#nav.active .social-media {
    display: none;

}

#nav.active .menu-mobile {
    display: flex;
    animation: opacity forwards 0.5s;

}

#nav.active .sm-menuMobile {
    @media (max-width:680px) {
        @include flexCenter(row, 20px);
        justify-content: center;
        position: absolute;
        bottom: 50px;
    }

}

.social-media {
    @include flexCenter(column, 30px);
    animation-name: opacity;
    animation: opacity forwards 0.5s;

    font-size: 2em;

    width: 60px;
    height: 400px;

    li {
        i {
            @include flexCenter(column, 0px);

            border-radius: 50%;
            cursor: pointer;
            color: #FFFDFB;

            height: 50px;
            width: 50px;

            transition: 0.3s ease-out;

            &:hover {
                background-color: #FFFDFB;
                box-shadow: 1px 1px 5px #AF91C1;
                color: #4B2D73;
            }
        }
    }

    @media (max-width:905px) {
        gap: 0px;
        justify-content: space-around;
        height: 90vh;

    }

    @media (max-width:680px) {
        display: none;


    }
}

.menu-mobile {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 400px;
    width: 60px;
    opacity: 0;

    h4 {
        text-align: center;
        font-size: 1em;
        width: 100px;
    }

    @media (max-width:680px) {
        display: none;
        cursor: pointer;
        justify-content: space-around;
        height: 500px;
        padding-top: 50px;


    }

}

.sm-menuMobile {
    display: none;

    i {
        cursor: pointer;
        font-size: 30px;

    }

}

.website {
    grid-area: area2;

    position: relative;
    @include flexCenter(column, 0px);

    background-color: #4b2d73f6;


    &:hover .hover-projects {
        opacity: 1;

    }

    @media (max-width:905px) {
        display: none;
    }

}


.icon-link {

    .btnlink {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;

        cursor: pointer;
        color: #FFFDFB;
        font-size: 25px;

    }
}

.descriptions-web {
    @include flexCenter(column, 0px);
    align-items: center;
    width: 100%;

    color: #FFFDFB;

    padding: 10px;

    h3 {

        font-size: 1.49em;
        text-align: center;
        width: 100%;
    }


}

.hover-projects {
    position: absolute;
    @include flexCenter(row, 0px);

    opacity: 0;

    background: #000000cb;

    height: 100%;
    width: 100%;

    transition: 0.6s;


}

.btn-projects {
    position: relative;
    @include flexCenter(row, 0px);

    border: none;
    border-radius: 10px;
    background-color: #37474F;

    width: 90%;
    height: 40px;
    z-index: 1;

    a {
        h3 {

            @include flexCenter(row, 8px);
            color: #FFFDFB;
            font-size: 15px;

            @media (max-width:1280px) {


                @include flexCenter(row, 5px);
                font-size: 13px;
            }

            @media (max-width:970px) {
                @include flexCenter(row, 2px);
                font-size: 12px;
            }
        }

    }

    &::before {
        content: '';
        position: absolute;
        left: 0;

        height: 100%;
        width: 0%;

        border-radius: 10px;
        background-color: #4B2D73;

        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    &:hover::before {
        cursor: pointer;
        border: 1px solid #FFFDFB;
        width: 100%;
    }




}

.blog-news {
    grid-area: area3;
    position: relative;

    background-color: #7A4897;
    color: #FFFDFB;

    padding: 10px;

    &:hover .hover-blog {
        opacity: 1;
    }


    @media (max-width:905px) {
        display: none;
    }
}


.icon-link {
    .btnlink {
        display: none;
        position: absolute;
        top: 5px;
        right: 10px;

        cursor: pointer;

        font-size: 25px;
        color: #FFFDFB;

    }
}

.descriptions-blog {
    @include flexCenter(column, 20px);

    h3 {
        text-align: left;
        font-size: 25px;

        width: 100%;
    }
}

.hover-blog {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    @include flexCenter(row, 0px);

    background: #000000cb;

    height: 100%;
    width: 100%;
    transition: 0.6s;


}

.btn-hoverBlog {
    position: relative;
    @include flexCenter(row, 0px);

    border: none;
    border-radius: 10px;
    background-color: #37474F;

    width: 90%;
    height: 40px;

    z-index: 1;

    a {
        font-size: 1.4em;
        color: #FFFDFB;

        h3 {
            @include flexCenter(row, 10px);
        }
    }


    &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 0%;
        border-radius: 10px;
        background-color: #4B2D73;
        z-index: -1;

        transition: 0.4s ease-in-out;
    }

    &:hover::before {
        cursor: pointer;
        border: 1px solid #FFFDFB;
        width: 100%;

    }
}